/* src/components/Header.module.css */
.header {
  position: fixed;
  justify-content: "center";
  align-items: "center";
  top: 0;
  width: 100vw;
  z-index: 50;
  padding: 20px 0;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.scrolled {
  padding: 12px 0;
  background-color: rgba(11, 17, 32, 0.8);
}

.container {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logoBox {
  width: 32px;
  height: 32px;
  background-color: #1d63ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  color: #94a3b8;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s;
}

.navLink:hover {
  color: white;
}
.navTitre {
  color: "white";
  font-weight: "bold";
}
.rightNavContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cvButton {
  background-color: #1d63ff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 20px rgba(29, 99, 255, 0.3);
  transition: transform 0.2s;
}

.cvButton:hover {
  transform: translateY(-2px);
}
