.stackContainer {
  overflow: hidden;
  max-width: 500px;
  padding: 2rem 0;
}

.title {
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #4b5563;
}

.marqueeContainer {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
.marqueeTrack {
  display: flex;
  width: max-content;
  gap: 2rem;
  animation: scroll 30s linear infinite;
  margin-top: 5px;
}
.marqueeTrack:hover {
  animation-play-state: paused;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: rgba(30, 41, 59, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  white-space: nowrap;
}

.badge:hover {
  border-color: rgba(19, 91, 236, 0.5);
  background-color: rgba(19, 91, 236, 0.1);
  transform: translateY(-2px);
}
:global(.dark) .badge {
  background-color: #161b26;
  border-color: #282e39;
  color: white;
}
.techName {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

.badge:hover .techName {
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
