.stackContainer {
  overflow: hidden;
  max-width: 500px;
  padding: 2rem 0;
}

.title {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f8fafc;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.9;
  text-align: left;
}
.marqueeContainer {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  position: relative;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
.marqueeContainer::-webkit-scrollbar {
  display: none;
}
.isDragging {
  cursor: grabbing;
  scroll-behavior: auto;
}
.marqueeTrack {
  display: flex;
  gap: 1rem;
  animation: scroll 30s linear infinite;
  padding: 1rem 0;
}
.marqueeContainer:hover .marqueeTrack {
  animation-play-state: paused;
}
.marqueeTrack:hover {
  animation-play-state: paused;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: rgba(30, 41, 59, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  white-space: nowrap;
}

.badge:hover {
  border-color: rgba(19, 91, 236, 0.5);
  background-color: rgba(19, 91, 236, 0.1);
  transform: translateY(-2px);
}
:global(.dark) .badge {
  background-color: #161b26;
  border-color: #282e39;
  color: white;
}
.techName {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

.badge:hover .techName {
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* On défile la moitié de la largeur du track */
    transform: translateX(-33.33%);
  }
}
