name: CI Portfolio

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Set Yarn Version
        run: yarn set version 4.12.0

      - name: Install dependencies
        run: |
          yarn config set nodeLinker node-modules
          yarn install

      - name: Run Tests
        run: yarn test:run

      - name: Build
        run: yarn build
